<div class="about-section">
  <h1 align="center">About Me </h1>
  <br>
  <br>
  <img src="assets\images\arun.jpg" alt="my image" style="float : left" height="300"><p style="text-align:left"><b>Welcome aboard!<br>I am Arun Gopakumar From India.I'm currently pursuing Software engineering technology-Artificial Intelligence at Centennial college.<br>
  Management and technology are two skills that I have been developing over the years<br>
  and wish to integrate both into a career some day.</p>
  <br>
  <br>
  <br>
  <p align="center"><a href="assets\resume.pdf">Click here to view my resume</a></p>
  
</div>

