<!--bootstrap template-->
<html lang="en">
    

  <body class="text-center" >

    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
  
      <main role="main" class="inner cover">
        <h1 class="cover-heading">Welcome to my homepage!</h1>
        <p class="lead"><b><i>"My mission is to deliver optimal solutions with top quality and best services at affordable prices"
</b></i></p>
        <p class="lead">
          Click here to know <a class="btn btn-primary home-about-btn" href="/about" role="button">About Me</a>
        </p>
      </main>

    </div>


  </body>
</html>
